<head>
    <link rel="stylesheet" type="text/css" href="css/bovbot.css">    
</head>
</head>
<body>
    <% include html/include/menu %>
    <div class="contentDiv">
        <h2>
            <center>
                Sorry! We cannot find <%= url %>!
            </center>
    </div>
    </h2>
</body>
