<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>
    <script>
        Twitch.logout(function ()  {
            document.location.assign('/');
        });
    </script>
</head>
<body>

</body>
</html>