<div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Commands <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="commands">BovBot Commands</a>
                            </li>
                            <li>
                                <a href="commands#custom">Custom Commands</a>
                            </li>
                            <li>
                                <a href="commands#timers">Timers</a>
                            </li>
                        </ul>
                    </li>
					<li>
                        <a href="/viewers"><i class="fa fa-fw fa-bar-chart-o"></i>Viewers</a>
                    </li>
                    <li>
                        <a href="/functions"><i class="fa fa-fw fa-table"></i>Functions</a>
                    </li>
                    <li>
                        <a href="/about"><i class="fa fa-fw fa-edit"></i> About</a>
                    </li>                    
                </ul>
            </div>